
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

header{
    max-width: 1150px;
    margin: 0 auto;
}
nav{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(96, 96, 96);
}
ul li{
    list-style: none;
}
.teitle-header{
    font-size: 2.4rem;
    font-weight: 500;
    color: #4CAF4F;
}
.nav-btn{
    background-color: #4CAF4F;
    color: white;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
}
.banner{
    max-width: 1150px;
    margin: 100px auto 0;
    background-image: url('/coolbackgrounds-particles-ether.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.text-cointernar{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0 130px 0;
}
.teitles-banner{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 27px;
}
.clor{
    color: #4CAF4F;
}
.banners-pra{
    font-size: 1.3rem;
    color: rgb(113, 113, 113);
    margin-bottom: 30px;
}

.comunaty{
    max-width: 1150px;
    margin: 100px auto 0;
    
}
.comu-title{
    text-align: center;
    font-size: 2rem;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
}
.sub-text{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(83, 82, 82);
}

.growup{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.one{
    text-align: center;
    padding: 40px 30px 40px 30px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
      border-radius: 8px;

}
.dhriwej{
    font-size: 4rem;
    color: #4CAF4F;
}
:root{
    --all-color:rgb(110, 110, 110);
}
.icons-teitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.sub-tei{
    color: var(--all-color);
}




.producat{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.producatadsad{
     text-align: center;
    font-size: 2rem;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
}
.subes{
    font-size: 1.2rem;
    text-align: center;
    color: var(--all-color);
    max-width: 900px;
    margin: 0 auto;
}
.ourpoint{
    background-image: url('/coolbackgrounds-particles-stellar.png');
    margin-top: 50px;
    max-width: 1150px;
   height: 300px;
   background-color:#F5F7FA;
   border-radius: 9px;
}
@keyframes my-boll {
    0%{
        top: 0px;
        left: 0px;
        background-color: #4CAF4F;
    }
    25%{
        top: 220px;
        left: 287px;
        background-color: brown;
    }
    50%{
        top: 0px;
        left: 575px;
        background-color: #4CAF4F;
    }
    75%{
        top: 220px;
        left: 862.5px;
        background-color: rgb(214, 31, 113);
    }
    100%{
        top: 0px;
        left: 1070px;
        background-color: #4CAF4F;
    }
    
}
.ball{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  
    position: relative;
    animation: my-boll 3s ease-in-out 1s infinite alternate ;
}

.ourlive{
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 100px;
    background-color: #F8FCFA;
    border-radius: 9px;
 
}
.sid-teitle{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
}
.sideone{
    margin-left: 30px;
    padding: 70px 50px;
}
.dicp{
    font-size: 1.1rem;
    color: var(--all-color);
}
.sidtoe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.cone{
    color: #4CAF4F;
    font-size: 3rem;
}
.fhhsko{
    color: black;
    font-size: 1.5rem;
}



.stope{
    max-width: 1150px;
    margin: 100px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-texst{
     font-size: 2rem;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin-bottom: 20px;
    max-width: 500px;
}
.sodfp{
    font-size: 1.2rem;
    color: var(--all-color);
    max-width: 700px;
}
.textes-coint{
   padding: 0 0 0 70px ;
}
.img-podgh{
   padding: 0 40px 0 0;
}


footer{
    width: 100%;
   background-color: #182937;
   color: white;
}

.all-contast{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.fotim{
    width: 160px;
}
.ghuwpq{
    font-size: 1rem;
    max-width: 350px;
    margin: 18px 0;
}
.footericones{
    font-size: 23px;
    margin-left: 15px;
}
.secondes{
    display: flex;
    gap: 40px;
}
.under,
.lists,
.athur{
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-top: 22px;
}
.ttl{
    font-size: 1.4rem;
    font-weight: 500;
}

input[type="email"]{
    margin-top: 30px;
    padding: 13px 25px 13px 12px;
    font-size: 19px;
    border: none;
    border-radius: 8px;
    background-color: #374151;
}
.box{
    position: relative;
}
.position{
    position: absolute;
    top: 69px;
    right: 15px;
    font-size: 20px;
}